   <div class="Portfolio-title"><h1>Portfolio</h1></div>
    <div class="portforio-subtitle">Web製作『ポートフォリオ製作による実力向上』</div>
 	<div class="Introduce">
    <%= image_tag("img/DAJAART_top.png", :class => "dajaart")%>
 	<div class="clearfix" class="portfolio-what">
          <h4>What's Portfolio?!</h4>
           <p class="portfolio-what-item">①インターン、<br>新卒採用に有利！<br>
           ②自己PRができる！<br>
           ③実力向上を目指す！</p>
    </div>
    </div>
       <div class="portfolio-big-box">
          <div class="Portfolio-text">Portfolio集</div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
      	    <div class="portfolio-box"></div>
       </div>