    <div class="about-main container">
        <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>PPFとは</h1></div>
        <div class="coi-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"><div class="p1">文章３−４行</div></div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="about-box1 container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>ミッション</h1></div>
        <div class="col-md-4"></div>
    </div>
    </div>
    <div class="about-box1 container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><p>繋がる×広がる</p></div>
        <div class="col-md-4"></div>
    </div>
    </div>
    <section>
        <div class="about-box2 container">
            <div class="about-box2-item">
            <div class="row">
                <div class="col-md-offset-1"></div>
                <div class="col-md-10"></div>
                  <div class="row">
                   <div class="col-md-4"><h2 style="padding: 38px 0">WEBスク生</h2></div>
                   <div class="col-md-4"><h2>何か自分のスキル<br>武器が欲しい人</h2></div>
                   <div class="col-md-4"><h2>夢に向かって<br>一歩踏み出したい人</h2></div>
                  </div>
            </div>
            </div>
        </div> 

        <div class="about-box3 container">
            <div class="row">
                <div class="col-md-offset-1"></div>
                <div class="col-md-10"></div>
                <div class="row">
                    <div class="col-md-4"><p>同年代の大学生、社会人</p></div>
                    <div class="col-md-4"><p>自分を変えるチャンス</p></div>
                    <div class="col-md-4"><p>夢と今の自分の<br>ギャップを埋めたい</p></div>
                </div>
            </div>  
        </div>

<div class="container"> 
  <div class="row">       
    <div class="col-md-4"></div>
    <div class="col-md-4"><div class="about-button">Menber</div></div>
    <div class="col-md-4"></div>
</div>
</div>
            
</section>

    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>