	<section class="concept">
		<h2 class="c-title">Concept</h2>
		<p class="top-text">
			「繫がる×広がる」
		</p>
		<p class="bottom-text">
			誰かの役に立ち<br>誰かの為になり<br>支え合って生きていく。
		</p>
		<div class="round-container">
			<div class="round top">家族</div>
			<div class="line right-top"></div>
			<div class="clearfix">
				<div class="round left">自分</div>
				<div class="line right-bottom"></div>
				<div class="clearfix">
				<div class="round right">友達</div>
			</div>
			<div class="line left-bottom"></div>
			<div class="round bottom">仕事</div>
			<div class="line left-top"></div>
		</div>
	</section>