	<div class="container">
		<div class="c-container">
			<section class="contact">
				<h2 class="ct-title">Contact</h2>
				<p></p>
				<div class="form-container">
					<form class="c-form clearfix">
						<p class="form-name">Name</p>
						<input type="text" class="first-name">
						<div class="clearfix sex-wrap">
							<p class="form-name sex">Sex</p>
							<div class="sample">
						    	<input type="radio" name="s4" id="select1" value="1" checked="">
						    	<label for="select1">Man</label>
						    	<input type="radio" name="s4" id="select2" value="0">
						    	<label for="select2">Woman</label>
							</div>
						</div>
						<div class="clearfix">
							<p class="form-name occupations">Occupations</p>
							<div class="styled-select blue semi-square">
								<select>
									<option value="学生">Student</option>
									<option value="学生">Society</option>
									<option value="学生">Other</option>
								</select>
							</div>
						</div>
						<p class="form-name e-mail">E-mail</p>
						<input type="e-mail" class="e-mail-form first-name">
						<p class="form-name">Opinion</p>
						<textarea name="opinion" cols="30" rows="10" class=" opinion-form"></textarea>
						<input type="submit" class="first-name submit">
					</form>
					<div class="sns-icon">
						<i class="fa fa-facebook-square facebook 2x" aria-hidden="true"></i>
						<i class="fa fa-twitter-square twitter 2x" aria-hidden="true"></i>
						<i class="fa fa-instagram instagram 2x" aria-hidden="true"></i>
					</div>
				</div>
			</section>
		</div>
	</div>