// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
	margin: 0;
	padding: 0;
}

.Cection{
    background:-webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), -webkit-linear-gradient(top, #191970, #001e43);
    background:-moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), -moz-linear-gradient(top, #191970, #001e43);
    background:-o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), -o-linear-gradient(top, #191970, #001e43);
    background:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #191970, #001e43);
	width: 1000px;
	margin: 0 auto;
	border: 3px dotted white;
}


/*トップ*/


.top-title{
	text-align: center;
	width: 100%;
	height: 400px;
	
}

.top-sub{
	float: left;
	width: 100%;
	height: auto; 
	border-top: solid 2px #000;
	
}

.top-li{
	list-style-type: none;
	float: left;
}


.top-content-top{
	/*margin: 10px;*/
	width: 400px;
	height: 200px;
	

}
.top-content-top li{
	margin: 20px;
}

.top-content-sub{
	/*margin: 10px;*/
	width: 400px;
	height: 200px;
}
.top-content-sub li{
	margin: 25px;
}

/*
.Cection1{
	height: 1500px;
}

h1{
	padding-top: 100px;
	text-align: center;
	font-size: 70px;
	color: white;
}

.box{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: pink;
    border-radius: 50%;
}

h3{
	padding-top: 60px;
	color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.item:nth-child(1) {
    margin: 50px 425px;
    text-align: center;
}

.item:nth-child(2){
    float: left;
    margin-left: 100px;
}

.item:nth-child(3){
	float: right;
	margin-right: 100px;
}


.concept{
	display: inline-block;
	margin-top: 100px; 
}

.item{
    margin: 0 auto;
    width: 200px;
}


.tunagaru{
	margin: 100px 0 100px 300px;
	font-size: 45px;
	color: white;
}

.coment{
	margin-left: 350px;
	font-size: 35px;
	color: white;
}

.Cection2{
	height: 1100px;
}

.Cection3{
	height: 800px;
}

.Cection4{
	height: 200px;
}

.port{
	width: 900px;
	margin: 80px 40px 0;
	text-align: center;
	font-size: 40px;
	color: white;
	border: ridge 8px white;
}

.dajaart{
	width: 500px;
	height: 500px;
	float: left;
	margin: 60px 0 0 30px;
}

h4{
	height: 50px;
	margin: 70px 70px 0 0;
	font-size: 35px;
	color: white;
	float: right;
}

.What{
	height: 60px;
}

p{
	font-size: 30px;
	color: white;
	float: right;
}

.What-item{
	margin: 65px;
}

.sample {
	width: 300px;
	height: 80px;
	margin-left: 30px;
	padding-top: 20px;
    background-color: pink;
    border-radius:5px;
    position:relative;
}
 
.sample:after {
    border:10px solid transparent;
    border-bottom-color: pink;
    border-top-width:0;
    top:-10px;
    content:"";
    display:block;
    left: 140px;
    position:absolute;
    width:0;
}


h5{
	margin-top: 50px;
	font-size: 45px;
	color: white;
	text-align: center;
}

h6{
	font-size: 40px;
	margin-top: 30px;
	color: white;
	text-align: center;
}

.before{
	margin: 50px 30px;
	float: left;
}

.before-item{
	margin: 30px 0 30px 30px;
	width: 300px;
	height: 250px;
}

.before-item-text{
	font-size: 40px;
	text-align: center;
    color: white;
}

.but-item1{
	margin: 100px 50px 0 0;
}

.but-item2{
	margin: 100px 230px 0 0;
	border-bottom: dotted 5px blue;
}


.but-item3{
	margin: 50px 120px 0 0;
}


/*ここからメンバー*/

/*.member::after {
    content: "";
    display: block;
    clear: both;
}

.member{
	height: 300px;
}

li{
	padding: 20px;
	list-style-type: none;
	float:left;
}
.name{
	text-decoration: none;
	color: black;
}

h2{
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	font-size:40px;
}

form{
	color: white;
}

.wanted{
	height: 600px;
	padding: 40px;
}

.red{
	color: black;
	font-weight: bold;
}


.footer-text{
	float: right;
	padding-top: 30px;
	color: white;
}
img .icon{
	background-size: cover;
	float: left;
}*/

/*ここからactivity*/
.big-container{
	width: 100%;
	background-color: #E6F8F8;
}

.boxA:after{
	content: "";
	display: block;
	clear: both;
}

.boxA{
	margin-top: 20px;
}

.activity{
	text-align: center;
	height: 70px;
	width: 30px auto;
	border-radius: 10px;
	font-size: 40px;
	color: #ffffff;
	background-color: #05306e;
	margin: 30px;
}

.event-box{
	float: left;
	margin-left: 10px;
	width: 70%;
}

.side-box{
	float: left;
	margin-left: 30px; 
}

.event-site h1 a{
	color: #fcffff;
	text-decoration: none;
}

.new{
	width: 50px;
	height: 20px;
	text-align: center;
	border-radius: 10%;
	color:#000;
	background-color:#00bfff;
}

.event-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.event-nav li a{
	float: left;
	margin: 20px;
	color: #05306e;
	font-size: 20px;
	border-bottom: ridge 1px #000;
	text-decoration: none;
}

.event-nav li a:hover{
	background-color: #4169e1;
}

.event-nav ul:after{
	content: "";
	display: block;
	clear: both;
}

.event-nav li{
	float: left;
	width: auto;
}

.event-article{
	width: auto;
	margin: 10px;
	padding-bottom: 50px;
	border-bottom: dotted 2px #dddddd;
}

.event-article h1{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 25px;
	color: #05306e;
}

.new-event{
	width: 500px;
	height: 400px;
}

.sub-event{
	width: 400px;
	height: 300px;
}

.event-article p{
	margin-top: 0;
	margin-bottom: 20px;
}

.event-sub-article{
	width: 600px;
	margin:20px;
	padding-bottom: 50px;
	border-bottom: dotted 2px #dddddd;
}

.event-sub-article{
	 h1{
		color: #05306e;
	}
}
.event-day{
	float: right;
}

.event-sentence{
	color: #05306e;
}

.event-side{
	margin-bottom: 30px;
}

.event-side ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.event-side li a{
	display: block;
	padding: 5px;
	color: #05306e;
	font-size: 14px;
	text-decoration: none;
}

.event-side li a:hover{
	background-color: #4169e1
}

.event-side h1{
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #05306e;
	font-size:18px;
}

.event-side-osu{
	margin-bottom: 30px;
}

.event-side-osu ul{
	margin: 0;
    padding: 0;
    list-style: none;
}

.event-side-osu a{
	display: block;
	padding: 5px;
	color: #05306e;
	font-size: 14px;
	text-decoration: none;
}

.event-side-osu h1{
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #666;
	font-size: 18px;
}

.event-side-kako{
	margin-bottom: 30px;
}

.event-side-kako ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.event-side-kako li a{
	display: block;
	color: #05306e;
	padding: 5px;
	font-size: 14px;
	text-decoration: none;
}

.event-side-kako h1{
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: dotted 2px #dddddd;
	color: #666;
	font-size: 18px;
}

.side-img{
	width: 50px;
	height: 40px;
}

.side-text{
	display: inline;
}



/*ここからabout*/

.about-main h1 {
    margin: 50px auto 0;
    color: #FCFFFF;
    position: relative;
    padding: .5em .75em;
    background-color: #05306E;
    border-radius: 6px;
}

.about-main .p1{
    height: 300px;
    margin: 50px auto 0;
    background-color: #556186;
    border-radius: 6px;

}

.about-main h1::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 15px solid #05306E;
}

.about-box1 h1 {
    margin: 50px auto 0;
    font-size: 25px;
    position: relative;
    color: #FCFFFF;
    line-height: 50px;
    padding: 0 1em;
    background-color: #05306E;
}

.about-box1 h1::before,
.about-box1 h1::after {
    content: '';
    position: absolute;
}

.about-box1 h1::before {
    top: 100%;
    left: 0;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: #E6F8F8;
}

.about-box1 h1::after {
    top: 0;
    right: 0;
    z-index: 2;
    border-width: 25px 20px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #E6F8F8;
}

.about-box1 p {
    margin: 40px 0;
    color: #05306E;
    font-size: 35px;
}

.about-box2{
    box-sizing: border-box;
    display: block;
    margin-top: 50px;
    color:  #FCFFFF;
}

.about-box2-item h2 {
    position: relative;
    padding: .75em 1em;
    background-color: #05306E;
}

.about-box2-item h2::before,
.about-box2-item h2::after {
    content: '';
    position: absolute;
    top: 100%;
    border-style: solid;
    border-color: transparent;
}

.about-box2-item h2::before {
    left: 0;
    border-width: 0 15px 15px 0;
    border-right-color: #ccc;
}

.about-box2-item h2::after {
    right: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-top-color: #ccc;
}


.about-box3 p {
    margin: 30px 0;
    color: #05306E;
    font-size: 20px;
}

.about-button {
    font-size: 20px;
    padding: 20px 50px;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
}
.about-button:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}

.clearfix{
    content: "";
    display: block;
    clear: both;
}

section{
    margin-bottom: 50px;
}

/*ここからコンセプト*/

.concept {
	width: 100%;
	height: 1200px;
	text-align: center;
	font-weight: 100;
}
.mv {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-bottom: 50px;
	padding: 10px 0;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.c-title {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
	margin: auto;
	width: 200px;
	height: 35px;
	font-size: 56px;
	font-weight: 100;
	color: rgba(255,255,255,.8);
	text-shadow: 2px 2px 5px #000;
}

.filter {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	opacity: .6;
	background-image: linear-gradient(#bbdbf3,#26499d); 
}

.top-text,.bottom-text {
	display: none;
	width: 264px;
	margin: 0 auto;
	text-align: center;
	line-height: 2;
	font-size: 24px;
	background: -webkit-linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100% ) repeat;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.top-text {
	margin-top: 70px;
}

.bottom-text {
	margin-bottom: 50px;
}

.round-container {
	position: relative;
	width: 500px;
	height: 450px;
	margin: 100px auto;
}

.round {
	z-index: 999;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	text-align: center;
	line-height: 150px;
	color: rgba(0,0,0,.8);
	background: linear-gradient(#ffffff,#33D8EC);
}

.top,.bottom {
	position: absolute;
	left: 50%;
	margin-left: -75px;
}

.left,.right {
	position: absolute;
	top: 150px;
}

.top {
	background: linear-gradient(#fff,#00ffff);
}

.left {
	background: linear-gradient(#fff,#f9f490);
	left: 0;
}

.right {
	background: linear-gradient(#fff,#97fba0);
	right: 0;
}

.bottom {
	background: linear-gradient(#fff,#97b1fb);
	bottom: 0;
}

.line {
	display: none;
	width: 20px;
	height: 1px;
	background-color: #33D8EC;
}

.right-top {
	display: block;
	position: absolute;
	top: 124px;
	left: 301px;
	width: 0;
	height: 1px;
	transform: rotate(38deg);
	transform-origin: 0% 100%;
	transition: .3s;
	background-color: #33D8EC;
}

.right-bottom {
	display: block;
	position: absolute;
	top: 277px;
	right: 128px;
	width: 0;
	height: 1px;
	transform: rotate(318deg);
	transform-origin: 100% 0%;
	transition: .3s;
	background-color: #33D8EC;
}

.left-bottom {
	display: block;
	position: absolute;
	top: 333px;
	left: 188px;
	width: 0;
	height: 1px;
	transform: rotate(218deg);
	transform-origin: 0% 100%;
	transition: .3s;
	background-color: #33D8EC;
}

.left-top {
	display: block;
	position: absolute;
	top: 177px;
	left: 127px;
	width: 0;
	height: 1px;
	transform: rotate(321deg);
	transform-origin: 0% 100%;
	transition: .3s;
	background-color: #33D8EC;
}

.top,.left,.right,.bottom {
	display: none;
}

/*contact*/
/*
header {
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: rgb(5,48,110);
}
h1 {
	float: left;
}

nav {
	width: 960px;
	margin: 0 auto;
}

.menu {
	float: right;
	width: 70%;
	height: 70px;
}

.menu li {
	float: left;
	width: 20%;
	font-size: 24px;
	line-height: 70px;
	text-align: right;
}
*/

/*Contact*/



.c-container {
	width: 100%;
	padding: 70px;
	/*background-color: #e6f8f8;*/
}

.contact {
	width: 960px;
	margin: 0 auto;
}

.ct-title {
	width: 160px; 
	margin: 0 auto;
	padding: 50px 0;
	font-size: 42px;
	font-weight: 200;
	color: rgb(5,48,110);
	text-shadow: 2px 2px 3px rgb(5,48,110); 
}

.form-container {
	padding-top: 50px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.3);
}

.c-form {
	position: relative;
	width: 500px;
	margin: 0 auto;
}

.form-name {
	font-size: 30px;
	color: rgb(5,48,110);
}

.first-name{
	display: block;
	width: 500px;
	height: 50px;
	margin-top: 5px;
	border: 1px solid rgba(5,48,110,.8);
	border-radius: 5px;
	box-shadow: 2px 2px 2px 0 rgba(128,128,128,.9) inset;
	background-color: rgba(209, 226, 249,.8);
}

.sex-wrap {
	margin-top: 15px;
}

.sex,.occupations {
	float: left;
}

.occupations {
	margin-top: 8px;
}

.sample {
	float: right;
	margin-top: 5px;
}

.sample input {
	display: none;
}

.sample label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-left: 20px;
	padding: 10px 20px;
	border-radius: 2px;
	color: rgb(5,48,110);
	font-size: 14px;
	text-align: center;
	line-height: 1;
}

.sample label:before {
	position: absolute;
	content: "";
	top: 50%;
	left: -10px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	background: rgba(209, 226, 249,.8);
	border-radius: 50%;
} 

.sample input[type="radio"]:checked + label:after {
	position: absolute;
	content: "";
	top: 50%;
	left: -4px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	border-radius: 50%;
	background: rgb(5,48,110);
}

.blue select {
    color: rgb(5,48,110);
}

.styled-select select {
    background: transparent;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

.styled-select {
	position: absolute;
	right: 0;
	top: 177px;
	display: block;
   	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   	box-shadow: 2px 2px 2px 0 rgba(128,128,128,.9) inset;
   	border: 1px solid rgba(5,48,110,.8);
   	overflow: hidden;
   	width: 240px;
   	height: 29px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.blue {
	background-color: rgba(209, 226, 249,.8);
}

.e-mail {
	margin-top: 15px;
}

.e-mail-form {
	float: right;
	margin-bottom: 25px;
}

.opinion-form {
	display: block;
	width: 500px;
	height: 300px;
	margin-top: 10px;
	border: 1px solid rgba(5,48,110,.8);
	border-radius: 5px;
	box-shadow: 2px 2px 2px 0 rgba(128,128,128,.9) inset;
	background-color: rgba(209, 226, 249,.8);
}

.submit {
	width: 200px;
	margin: 20px auto;
}

.sns-icon {
	width: 150px;
	margin: 0 auto;
	padding: 50px 0;
}

i {
	font-size: 50px !important;
	color: rgba(25,25,112,.4);
}

.facebook:hover {
	color: rgb(59, 89, 152);
}

.twitter:hover {
	color: rgb(85, 172, 238);
}

.instagram:hover {
	color: rgb(228, 64, 95);
}

@media screen and (max-width: 768px){
/*	img{
	    max-width: 100%;
	    height: auto;
	    width : auto;　
	}*/
	#container{
	    width:100%;
	    
	}
}
