<!DOCTYPE html>
<html>
  <head>
    <title>PPFTest1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
          <%# if user_signed_in? %> 
          <!-- Logged in as --> <%#= current_user.email %>
          <%#= link_to "ログアウト", destroy_member_session_path, method: :delete %>
        <%# else %>
          <%#= link_to "サインイン", new_member_registration_path %> |
          <%#= link_to "ログイン", new_member_session_path %>
        <%# end %>
    <%= yield %>
  </body>
</html>
