<!DOCTYPE html>
<html>
  <head>
    <title>PPFTest1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
          <%# if user_signed_in? %> 
          <!-- Logged in as --> <%#= current_user.email %>
          <%#= link_to "ログアウト", destroy_member_session_path, method: :delete %>
        <%# else %>
          <%#= link_to "サインイン", new_member_registration_path %> |
          <%#= link_to "ログイン", new_member_session_path %>
        <%# end %>
    <%= yield %>
    <div class="footer-container">
      <div class="footer-box"></div>
      <div class="footer-contant">
        <nav>
          <ul>
            <li><a href="#">>CONSEPT</a></li>
            <li><a href="#">>WHAT'S PPF</a></li>
            <li><a href="#">>PORTFOLIO</a></li>
            <li><a href="#">>MEMBER</a></li>
            <li><a href="#">>ACTIVITY</a></li>
            <li><a href="#">>CONTACT</a>
          </ul>
        </nav>
        <p class="footer-copy">© 2016 PPF All rights Reserved.</p>
      </div>
  </div>
  </body>
</html>
