<%# @members.each do |member| %>
	<p><%#= member.name %></p>
<%# end %>
<div class="m-menb container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4"><h1>PPF MENBER</h1></div>
		<div class="col-md-4"></div>
	</div>

</div>



<div class="m.menb-box1 container">
	<div class="row">
		<div class="col-md-1 col-xs-12"></div>
		<div class="col-md-2 col-xs-6"><p><%= image_tag('penta.png', :size => "150x150", :class => "img_show") %></p><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-1 col-xs-12"></div>
		<!-- <div class="col-md-1"></div> -->
	</div>
</div>

<div class="m.menb-box1 container">
	<div class="row">
		<div class="col-md-1 col-xs-12"></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-2 col-xs-6"><img src="img/penta.jpg" alt=""><button>Plofile</button></div>
		<div class="col-md-1 col-xs-12"></div>
		<!-- <div class="col-md-1"></div> -->
	</div>
</div>























<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
